<header class="header">

  <div class="container">

    <!-- Logo -->
    <a routerLink="/" class="logo">

      <div class="logo-icon">
        NH
      </div>

      <div class="logo-content">
        <h4>Nice Hi Tech Public School</h4>
        <span>Odisha, India</span>
      </div>

    </a>

    <!-- Navigation -->

    <nav class="nav">

      <a routerLink="/about" routerLinkActive="active">About</a>

      <a routerLink="/academics" routerLinkActive="active">Academics</a>

      <a routerLink="/portals" routerLinkActive="active">Portals</a>

      <a routerLink="/events" routerLinkActive="active">Events</a>

      <a routerLink="/contact" routerLinkActive="active">Contact</a>

    </nav>

    <!-- Right -->

    <div class="header-actions">

      <button class="btn btn-primary">

        <i class="fa-solid fa-arrow-right-to-bracket"></i>

        Login

      </button>

    </div>

  </div>

</header>